<h1>Why so serious?</h1>
<form>
  <input type="radio" name="answer" value="Terminator" checked> Terminator<br>
  <input type="radio" name="answer" value="Batman the dark night"> Batman the dark night<br>
  <input type="radio" name="answer" value="Batman begins"> Batman begins<br>
  <input type="radio" name="answer" value="Batman forever"> Batman forever<br>
  <input type="submit" name="enviar" value="Validar">
</form>

