<h1><%= session[:question].dialog %></h1>
<div style="text-align: left">
  <form action="/validar" method="post">
    <% for option in session[:question].options %>

    <input type="radio" name="answer" value="<%=option%>" id="<%=option.downcase.gsub(' ', '_')%>"><%=option%><br>
    <% end %>
    <input type="submit" name="enviar" id="validar" value="Go">
  </form>



  <details>
    <summary>Hint!</summary>
    <p>The character that says the dialog is played by Heath Ledger</p>
  </details>
</div>