<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div style="position: relative; margin: 0 auto;text-align: center; width: 300px;">
  <%= yield %>
  </div>

</body>
</html>